<!---- Footer-->
<footer class=" grid padded-05 ">
    <div class="col-4_sm-12-middle  center padded-1"> 
      <a href="/index">
          <img src="/images/logo.png"class="logo">
      </a>
  </div>
    <nav class="col-4_sm-12-bottom padded">
        <h4 class="bold">Fizzy Affairs</h4>
        <p><a href="mailto:info@fizzyaffairs.com">info@fizzyaffairs.com</a></p>
        <p><a href="/privacy.html">Privacy Policy</a></p>
        <p>Find us in Antibes</p>
    </nav>
    <div class="col-4_sm-12-middle padded">
      <p class="padded-05">Follow Us</p>
      <a href="https://www.instagram.com/fizzyaffairs?igsh=MnpzM2UzdmcwdDJs">
        <i class="fab fa-instagram padded-05"></i>
     </a>
    </div>
    <div class="col-12 center">
        <p class="subtle"></p> <a href="https://mijacrea.com/">Copyright MijaCréa</a></p>
    </div>
  </footer>
  