<!---- Footer-->
<footer class=" grid padded-05 ">
  <div class="col-4_sm-12-middle  center padded-1"> 
    <a href="/index">
        <img src="/images/logo.png" class="logo">
    </a>
</div>
  <nav class="col-4_sm-12 padded">
      <h4 class="bold">Fizzy Affairs</h4>
      <p><a href="mailto:info@fizzyaffairs.com">info@fizzyaffairs.com</a></p>
      <p><a href="/privacy.html">Privacy Policy</a></p>
      <p class="editable">We are located in Antibes</p>
      <p>Siret Number: 93476104000013</p>
  </nav>
  <div class="col-4_sm-12 padded center">
    <h4 class="bold editable">Follow Us</h4>
    <!-- Instagram -->
    <a href="https://www.instagram.com/fizzyaffairs?igsh=MnpzM2UzdmcwdDJs">
      <i class="fab fa-instagram padded-05"></i>
    </a>
    <!-- Facebook -->
    <a href="https://www.facebook.com/fizzyaffairs">
      <i class="fab fa-facebook padded-05"></i>
    </a>
  </div>
  <div class="col-12 center">
      <p class="subtle"></p> <a href="https://mijacrea.com/">Copyright MijaCréa</a></p>
  </div>
</footer>
