<!-- Fizzy-style header to overlay on banner -->
<header class="grid center header-overlay">
    <nav class="col-12 right hide-sm">
      <a href="/index.html" class="white-text">HOME</a>
      <a href="/#services" class="white-text">SERVICES</a>
      <a href="/#about" class="white-text">ABOUT</a>
      <a href="/#contact" class="white-text">CONTACT</a>
    </nav>
  
    <!-- Mobile Nav Button -->
  <div class="col-12 show-sm right">
    <a class="hamburger-button mob-show white-text">
      <i class="fas fa-bars icon-bars"></i>
      <i class="fas fa-times icon-close" style="display: none;"></i>
    </a>
  </div>
</header>

<!-- Mobile Menu -->
<nav class="mobile-menu bg-light padded">
  <a href="/#services" class="bold">SERVICES</a>
  <a href="/#about" class="bold">ABOUT</a>
  <a href="/#contact" class="bold">CONTACT</a>
</nav>