<!-- The title for SEO & browser tabs -->
<title>{{ page.seo.title | default: site.data.site-settings.seo.title }}</title>
<meta name="description" content="{{ page.seo.description | default: site.data.site-settings.seo.description }}">
<meta name="keywords" content="{{ page.seo.keywords | default: site.data.site-settings.seo.keywords }}">

{% if page.seo.hide-from-google == true %}
    <meta name="robots" content="noindex, nofollow">
{% else %}
    <meta name="robots" content="index, follow">
{% endif %}

<!-- Viewport meta tag -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- The title for SEO & browser tabs -->
<title>Fizzy Affairs</title>
<!-- Gridlex -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Add Google Fonts Here  -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap"
  rel="stylesheet"
/>
<!-- Favicon-->
<link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
<link rel="shortcut icon" href="/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Fizzy Affairs" />
<link rel="manifest" href="/icons/site.webmanifest" />

<!-- My own custom stylesheet -->
<link rel="stylesheet" href="/style.css" />